set default=0
set timeout=5
set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

if loadfont /boot/grub/themes/nightmare/unicode.pf2 ; then
  set gfxmode=auto
  set gfxpayload=keep
  insmod gfxterm
  terminal_output gfxterm
  set theme=/boot/grub/themes/nightmare/theme.txt
  export theme
fi

menuentry "Nightmare Linux (Live)" --class debian --class gnu-linux {
    linux   /live/vmlinuz boot=live components quiet splash
    initrd  /live/initrd.img
}

menuentry "Nightmare Linux (Live, failsafe)" --class debian --class gnu-linux {
    linux   /live/vmlinuz boot=live components nomodeset noapic
    initrd  /live/initrd.img
}

menuentry "Install Nightmare Linux" --class debian --class gnu-linux {
    linux   /install/vmlinuz quiet splash
    initrd  /install/initrd.gz
}
